/* You can add global styles to this file, and also import other style files */
:root {
  --dark: #133F55;
  --button-dark: #133F55;
  --button-color: #133F55;
  --promo-color: #133F55;
  --light: #E2F5F3;
  --yellow: #FCE444;
  --bg: #ffffff;
  --black: #000000;
}


.dark-theme {
  --dark: #E2F5F3;
  --bg: #133F55;
  --button-color: #FCE444;
  --promo-color: #18709C;
  background: #133F55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  transform: translateY(-2px);
}

