/* You can add global styles to this file, and also import other style files */
:root {
  --dark: #133F55;
  --light: #E2F5F3;
  --yellow: #FCE444;
  --white-bg: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  transform: translateY(-2px);
}

