<div class="nav-container">
  <div class="left">
    <div class="logo">vN</div>
  </div>

  <div class="right">
    <nav class="menu-items">
      <a href="#">EXPLORE</a>
      <a href="#">SERVICES</a>
      <a href="#">GALLERY</a>
    </nav>

    <a class="btn book" href="#" >BOOK NOW</a>

      <div class="dark-switch" [ngClass]="{'active': darkSwitch}">
        <img src="../assets/dark-switch.svg" (click)="colorTheme()" />
      </div>
      <div class="light-switch" [ngClass]="{'active': !darkSwitch}">
        <img src="../assets/light-switch.svg" (click)="colorTheme()"/>
      </div>
  </div>
</div>
