.nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 1198px;
  margin-top: 37px;

  .logo {
    font-family: "Podkova", bold;
    font-size: 32px;
    color: var(--yellow);
  }

  .right {
    display: flex;
    align-items: center;

    .menu-items {
      font-family: "Podkova", bold;
      font-size: 18px;

      a {
        text-decoration: none;
        color: var(--dark);
        margin-right: 54px;
        display: inline-block;
        transition: all 500ms;
      }

      a:hover {
        transform: translateY(-2px);
      }

      a.btn {
        background: #FCE444;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        padding: 20px;
      }
    }
  }
}

.nav-container .dark-switch,
.nav-container .light-switch {
  position: absolute;
  right: 0;
  transform: translateY(-16px);
  opacity: 0;
  pointer-events: none;
  display: flex;
}

.nav-container .dark-switch.active,
.nav-container .light-switch.active {
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;
  transform: translateY(0);
}
