header {
  max-height: 660px;
  margin-top: 19.68px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

header .model-image {
  align-self: flex-end;
}

header .model-image img {
  height: 100%;
  vertical-align: middle;
  height: 580px;
}

header .titles {
  color: var(--dark);
}

header .titles h1 {
  font-family: "Podkova", bold;
  font-size: 64px;
  max-width: 425px;
  margin-top: 0;
}

header .titles p {
  font-size: 20px;
  line-height: 120%;
  margin-top: 16px;
  max-width: 523px;
  margin-bottom: 42px;
}

header .middle-buttons a {
  font-family: "Poppins", bold;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  padding: 12px 32px;
  border: 1px solid #000000;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: inline-block;
  transition: all 500ms;
}

header .btn.disc {
  background-color: var(--yellow);
  margin-right: 40px;
}

header .btn.light {
  background-color: var(--light);
}

h1 {
  font-family: "Podkova", bold;
}

@media (max-width: 1050px) {
  header .titles {
    min-width: 425px;
  }
}

@media (max-width: 640px)
{
  header {
    display: inline;
    flex-direction: column;
    height: 80vh;
  }


  header .titles h1 {
    max-width: 350px;
    font-size: 50px;
    margin-top: 20px;
  }

  header .titles p {
    max-width: 350px;
    font-size: 14px;
    position: relative;
  }

  header .middle-buttons {
    position: relative;
    top: 340px;
  }

  header .btn.disc {
    margin-right: 10px;
  }

  header .model-image img {
    height: 350px;
    position: relative;
    top: -80px;
    margin-left: 40px;
    align-self: center;
  }
}
