<header class="hero-section">
  <div class="titles">
    <h1>GET OUT INTO NATURE</h1>
    <p class="sub-title">
      Take a break from daily routine and come to visit us!<br><br>
      We are excited to have you and hope you have
      a comfortable and enjoyable visit
    </p>
    <div class="middle-buttons">
      <a href="#" class="btn disc">Discover More</a>
      <a href="#" class="btn light">Contact Us</a>
    </div>
  </div>
  <div class="model-image">
    <img src="../assets/hero-model.png" alt="" />
  </div>
</header>
